<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

	  <target xsi:type="Console" name="console" layout="${longdate}|${message}" />
	  <target xsi:type="File" name="file" fileName="app.log"  layout="${longdate}|${message}" />

	  <target xsi:type="File" name="rotateLog1" 
			  fileName="app-rotate.log"  
			  archiveEvery="Day"
			  archiveFileName="app-rotate.{#}.log"
			  archiveNumbering="Sequence"
			  maxArchiveFiles="7"
			  concurrentWrites="true"
			  layout="${longdate}|${processid}|${message}" />

	  <target xsi:type="File" name="rotateLog2"
		  fileName="app-rotate.log"
		  archiveEvery="Monday"
		  archiveFileName="${specialfolder:ApplicationData}\${appName}\app-rotate.{#}.log"
		  archiveNumbering="Sequence"
		  maxArchiveFiles="7"
		  concurrentWrites="true"
		  layout="${longdate}|${level:uppercase=true}|${message}|${exception}" />
	  
	  
	  <target xsi:type="Network" address="udp://localhost:5555" layout="${longdate}|${level:uppercase=true}|${message}|${exception}${newline}" />

	  <target xsi:type="WebService" name="webservice"
			  url="http://localhost:5000/api/log"
			  protocol="HttpPost"
			  encoding="UTF-8">
		  <parameter name="l" type="System.String" layout="${level}" />
		  <parameter name="m" type="System.String" layout="${message}" />	  
	  </target>
	   
	  <target xsi:type="EventLog" name="eventlog"
			  source="${appName}"
			  layout="${time}|${level:uppercase=true}|${message}|${callsite}"
			  />


	  <target xsi:type="File" name="json" fileName="json.log">
		  <layout xsi:type="JsonLayout" includeEventProperties="true">
			  <attribute name="time" layout="${longdate}" />
			  <attribute name="level" layout="${level}" />
			  <attribute name="message" layout="${message}" />
		  </layout>
	  </target>
			  
	  
  </targets>

  <rules>
	  <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="file,console" />
	  <logger name="*" minlevel="Warn" writeTo="json" />

  </rules>
</nlog>
